* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 90px;
    padding-top: 30px;
    background-image: url(../img/pattern.png);
    background-color: #639ff8;
    background-size: 300px;
}

#logo {
    width: 200px;
}

.padding {
    margin: 0 200px 0;
}

.cont-main {
    margin-top: 20px;
}

main .cont-main h1 {
    margin-top: 15px;
}

main .cont-main .title {
    margin-bottom: 15px;
}

main .title {
    font-size: 19px;
}

.grey {
    font-size: 13px;
    color: grey;
}

#blue-text {
    color: rgb(102, 224, 255);
}