* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 90px;
    padding-top: 30px;
    background-image: url(../img/pattern.png);
    background-color: #639ff8;
    background-size: 300px;
}

#logo {
    width: 200px;
}

.padding {
    margin: 0 200px 0;
}